
h2{
    display: flex;
    justify-content: center;

}

.name-input{
    background-color: #231815;
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    width: 231px;
    height: 65px;
    border-radius: 30px;
    text-align: center;
    border: none;
    
}