@import './styles/utils.scss';

.SassComponent {
    display: flex;
    .box{
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &.red{
            background: $red;
            @include squrare(1);
        }
        &.orange{
            background: $orange;
            @include squrare(2);
        }
        &.yellow{
            background: $yellow;
            @include squrare(3);
        }
        &.green{
            background: $green;
            @include squrare(4);
        }
        &.blue{
            background: $blue;
            @include squrare(5);
        }
        &.indigo{
            background: $indigo;
            @include squrare(6);
        }
        &.violet{
            background: $violet;
            @include squrare(7);
        }
        &.hover{
            background: black;
        }

    }
}