.modal {
    position: fixed; /* 모달을 화면 중앙에 고정 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 화면을 커버 */
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center; /* 내용을 중앙 정렬 */
    align-items: center;
}

.modal-content {
    background-color: #fff;;
    padding: 20px;
    border-radius: 30px; 
    width: 286px;
    height: 182px;
    height: 307px;
}
